.About{
  margin-top: 6rem;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 1000px){
    margin-left: 0;
    height: 100vh;
    margin-top: 4rem;
  }
  @media screen and (max-width: 375px){
    margin: auto;
  }
}
.heading{
  // display: flex;
  // justify-content: center;
  margin-left: 50%;
  padding-bottom: 1rem;
}

.summury-wrapper{
  margin-left: 25%;
  background: #fff;
  // height: 70%;
  width: 60%;
  padding: .5rem;
  border-radius: .2rem;
  box-shadow: 0 0.25em 0.5em 0 #00000040;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  @media screen and (max-width: 1000px){
    padding: .5rem 1.5rem;
    height: 100%;
    width: 70%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 375px){
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    box-shadow: none;
    border-radius: 0px;
    background: none;
    }
}

.image{
  background: gray;
  
}

.summury-text-holder{
  
  background: coral;
}

.summury-list{
  margin-top: 1rem;
  margin-left: 1rem;
}

.btn-download{
  background: black;
  color: #fff;
}

