.About{
  width: 100vw;
  height: 100vh;
  margin-top: 6rem;
  display: flex; 
  justify-content: center;
  margin-left: 10%;
  @media screen and (max-width: 1000px){
    margin-left: 1rem;
    height: 100vh;
    margin-top: 4rem;
  }
  @media screen and (max-width: 375px){
    margin: auto;
  }
}
.heading{
  margin-top: 2rem;
}