.Home{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80%;
  @media screen and (max-width: 1000px){
    left: 50%;
    width: 100%;
  }
}

.hero{
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.hero-text{
  color: inherit;
  text-align: center;
  font-size: 6rem;
  @media screen and (max-width: 375px){
    font-size: 3.5rem;
    line-height: 6rem;
    margin-top: 5rem;
  }
}

.sub-text{
  text-align: center;
}

.btn-wrapper{
  display: flex; 
  justify-content: center; 
}

.home-btn{
  margin-top: 2rem;
  background: #3da3d5;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 2px;
  border: none;
  width: 12rem;
  font-weight: bold;
  letter-spacing: 1px;
}
