.App {
  .sidebar {
    width: 20%;
    height: 100vh;
    background-color: #2f4c6a;
    position: fixed;
    border-right: 2px solid #143250;
    z-index: 2;
    color: #fff;
  }

  .main-content{
    width: 80%;
    margin-left: 20%;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: grid; 
    position: relative;
  }
}