.Home{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80%;
  @media screen and (max-width: 1000px){
    left: 50%;
    width: 100%;
  }
}

.hero-text{
  color: inherit;
  text-align: center;
  font-size: 5rem;
  @media screen and (max-width: 375px){
    font-size: 3.5rem;
    line-height: 6rem;
    margin-top: 5rem;
  }
}

.sub-text {
  margin: auto 10%;
  text-align: center;
  padding: 2rem 0;
}

.icons {
  display: flex;
  justify-content: center;
}

.github {
  font-size: 3rem;
  cursor: pointer; 
  padding-right: 10px;
}

.github:hover {
  font-size: 3.1rem;
  color: #454444;
}

.linkedin {
  font-size: 3rem;
  cursor: pointer; 
  padding-left: 10px;
}

.linkedin:hover {
  font-size: 3.1rem;
  color: #255be6;
}