/*
  --bg: #f7f7f7;
  --sidebar: #00203FFF;
  --font: #282828;
  --main-border-color: #143250;
  --font-color-nav: #ADEFD1FF;
  
  
    "@fortawesome/fontawesome-svg-core"
    "@fortawesome/free-brands-svg-icons"
    "@fortawesome/free-solid-svg-icons"
    "@fortawesome/react-fontawesome"
*/