@import './styles/layout';
@import './styles/navbar';
@import './styles/home';
@import './styles/title';
@import './styles/form';
@import './styles/timeline';
@import './styles/latestwork';
@import './styles/about';
@import './styles/progressbar';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background: #fff;
}
// #4C5F9A;
html{
  background-image: linear-gradient(to right, #faf5f5, #f7e0e4);
  // background-image: #f4f4f4;
  // background: #f7e0e4;
  // @media screen and (max-width: 411px){
  //   width: 100vw;
  //   padding: 0;
  // }
  // background: linear-gradient(to bottom, #e9cdd2, #ebb2bd);
}

body{
  color: #282828;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 1.6rem;
  // font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
  line-height: 2.2;
  letter-spacing: 0.5px;
}

span {
  color: #2f4c6a;
}


@media screen and (max-width: 411px){
  html{
      font-size: 70%;
      // display: flex; 
      // justify-content: center;
  }
}
@media screen and (max-width: 800px){
  html{
      font-size: 90%;
  }
}
@media screen and (max-width: 480px){
  h2{
      font-size: 95%;
  }
  h3{
      font-size: 95%;
  }
  span{
    font-size: 70%;
  }
}