@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/form';
@import './styles/timeline';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background: #e9cdd2;
  // background: linear-gradient(to bottom, #e9cdd2, #ebb2bd);
}

body{
  color: #282828;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
  line-height: 2.2;
  letter-spacing: 0.5px;
}

span {
  color: #2f4c6a;
}


@media screen and (max-width: 411px){
  html{
      font-size: 70%;
      display: flex; 
      justify-content: center;
  }
}
@media screen and (max-width: 700px){
  html{
      font-size: 90%;
  }
}
@media screen and (max-width: 480px){
  h2{
      font-size: 70%;
  }
  h3{
      font-size: 70%;
  }
  span{
    font-size: 70%;
  }
}